body{
    background-color:#1A1110;
    font-size: 50px;
    color:rgb(255, 255, 255);
    margin: 0px;
}
header{
    color:aliceblue;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color:#1A1110;
    text-align:center;
    background-image: url(https://wallpapers.com/images/hd/fnf-pico-green-67u3mzhrprz5hye0.jpg);
    background-position-y: 1000px;
    background-position:center;
    background-repeat: no-repeat;
    background-size:cover;
    padding-top:100px;
    padding-bottom:100px;
    height:500px;
}

h1{
    font-size: 80px;
    color:aliceblue;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow:#1A1110 2px 5px 5px;
    margin: 0px;
    margin-left:-300px;
}
h2{
    text-align: center;
    font-size: 80px;
    color:aliceblue;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow:#1A1110 2px 5px 5px;
    margin: 0px;
}
div{
    width: 50%;
    height: 100%;
}
.left{
    background: radial-gradient(circle at top left, rgb(68, 68, 149), rgb(170, 90, 90));
    float:left;
    padding: 20px;
}
.right{
    background-color:darkblue;
    float:right;
    padding: 20px;
    padding-left: 200px;
    padding-bottom: 33px;
}
main{
    display: flex;
    justify-content: center;
}
.container{
    width: 80%;
    display: flex;
}
li{
    list-style: none;
    margin-left: 20px;
}
.f_right{
    float: right;
}
.f_left{
    float: left;
}
ul{
    display: flex;
}
footer{
    font-family:serif ;
}